* {
    padding: 0;
}

.img {
    background-image: url(pexels-photo-11718223.webp);
    background-repeat: no-repeat;
    background-size: 100vw 50vw;
}

h2 {
    color: white;
}

h1 {
    color: white;
}

.box {
    text-align: center;
    padding: 100px;

}

.userinput {
    width: 250px;
    height: 30px;
    margin: 10px;
    / border: 35px; /
    border-radius: 15px;
    text-align: left;
    padding-left: 15px;
}
#error{
    color: red;
}
.password {
    width: 250px;
    height: 30px;
    margin: 10px;
    / border: 35px; /
    border-radius: 15px;
    text-align: left;
    padding-left: 15px;
}
#errors{
    color: red;
}
.sign {
    width: 250px;
    height: 35px;
    / border: 35px; /
    border-radius: 15px;
    / padding: 20px; /
    text-align: center;
    background-color: pink;
    cursor: pointer;

}
#error1{
    color: red;
}
.reme {
    margin-right: 50px;
    color: white;
    
}

a {
    text-decoration: none;
    color: white;
}

.add {
    margin: 15px;
}

.social-links {
    width: 110px;
    margin: 5px;
    border-radius: 5px;
    background: transparent;
    color: rgb(151, 126, 126);
    cursor: pointer;
    position: relative;
    font-size: large;
    height: 30px;
    background-color: aqua;
}

a {
    font-size: 14px;
    font-weight: 600;
}



.font {
    position: relative;
    top: -14px;
    color: white;
}


.social-links:hover {
    border: none;
    
}


